@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  /* 一番早い */
  0% {
    transform: translateX(3500%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

@keyframes marquee2 {
  /* 普通 */
  0% {
    transform: translateX(2000%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

@keyframes marquee3 {
  /* 遅い */
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(-800%);
  }
}

.animate-marquee {
  animation: marquee3 10s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
.animate-marquee-2 {
  animation: marquee 11s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
.animate-marquee-3 {
  animation: marquee2 12s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
.animate-marquee-4 {
  animation: marquee2 13s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
.animate-marquee-5 {
  animation: marquee3 14s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
.animate-marquee-6 {
  animation: marquee3 25s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
